.statusbar {
	background-color: rgba(0, 122, 204, 1);

  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.statusbar-progress *, .statusbar-progress *:before, .statusbar-progress *:after{
	box-sizing: border-box;
}

.statusbar-progress {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.statusbar-progress > div {
	float: left;
	background: rgba(185,108,255,0.58);
	height: 100%;
	width: 10%;
}

.statusbar-progress .css-load-shaft1 {
	animation-delay: 0.06s;
}
.statusbar-progress .css-load-shaft2 {
	animation-delay: 0.13s;
}
.statusbar-progress .css-load-shaft3 {
	animation-delay: 0.17s;
}
.statusbar-progress .css-load-shaft4 {
	animation-delay: 0.23s;
}
.statusbar-progress .css-load-shaft5 {
	animation-delay: 0.29s
}
.statusbar-progress .css-load-shaft6 {
	animation-delay: 0.35s;
}
.statusbar-progress .css-load-shaft7 {
	animation-delay: 0.40s;
}
.statusbar-progress .css-load-shaft8 {
	animation-delay: 0.46s;
}
.statusbar-progress .css-load-shaft9 {
	animation-delay: 0.52s;
}
.statusbar-progress .css-load-shaft10 {
	animation-delay: 0.58s;
}
.statusbar-progress > div {
	height: 100%;
	animation: cssload-wave 1.15s infinite ease-in-out;
}

@keyframes cssload-wave {
	50% {
		background: rgb(86,215,198);
	}
}
/*.spinner {
  animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes background {
  0% {
  background-color: #00bbff;
  }
  50% {
    background-color: #00faff;
  }
  100% {
    background-color: #00ffa5;
  }
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.statusbar:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 100%;
  animation: loading 2s linear infinite, background 1.4s infinite ease-in-out alternate;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}*/
